= content_for :title, "Edit News"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'News', administration_news_path
  - navigation_add "News #{@news.id}", administration_news_path(@news.id)
  - navigation_add 'Edit', edit_administration_news_path(@news.id)
  = render_navigation

%section.content
  .row
    .col-md-6
      .box.box-solid
        .box-body= render 'form'
