= content_for :title, "News"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'News', administration_news_index_path
  = render_navigation

%section.content
  .box.box-solid
    .box-header= link_to 'add new news', new_administration_news_path, class: 'btn btn-primary btn-flat btn-block btn-sm'
    .box-body
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th title
            %th body
            %th
        %tbody
        - @news.each do |news|
          %tr
            %td= link_to news.title, administration_news_path(news.id)
            %td{:style => 'max-width: 200px'}= truncate_html(news.body, length: 100)
            %td
              = link_to 'edit', edit_administration_news_path(news.id), class: 'btn btn-warning'
              = link_to 'destroy', administration_news_path(news.id), class: 'btn btn-danger', method: 'DELETE'
