= content_for :title, "News"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'News', administration_news_index_path
  - navigation_add "News #{@news.id}", administration_news_path(@news.id)
  = render_navigation

%section.content
  .box.box-solid
    .box-header.with-border
      = @news.title
    .box-body
      .row
        .col-md-6
          URL alias:
          = @news.slug
          %br
          = @news.body.html_safe
        .col-md-6
          = link_to 'add new news', new_administration_news_path, class: 'btn btn-primary btn-flat btn-sm'
          = link_to 'edit', edit_administration_news_path(@news.id), class: 'btn btn-warning btn-flat btn-sm'
          = link_to 'destroy', administration_news_path(@news.id), class: 'btn btn-danger btn-flat btn-sm', method: 'DELETE'
