= content_for :title, "Pages"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Pages', administration_pages_path
  = render_navigation

%section.content
  .box.box-solid
    .box-header= link_to 'add new page', new_administration_page_path, class: 'btn btn-primary btn-flat btn-block btn-sm'
    .box-body
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th title
            %th slug
            %th body
            %th
        %tbody
        - @pages.each do |page|
          %tr
            %td= link_to page.title, administration_page_path(page)
            %td= page.slug
            %td{:style => 'max-width: 200px'}= truncate_html(page.body, length: 100)
            %td
              = link_to 'edit', edit_administration_page_path(page), class: 'btn btn-warning'
              = link_to 'destroy', administration_page_path(page), class: 'btn btn-danger', method: 'DELETE'
