= content_for :title, "Категорія #{params[:category]}"
.wrapper
  .row
    %ul.breadcrumbs
      %li.breadcrumbs_item
        %a.breadcrumbs_item_link{:href => root_path} Головна
      %li.breadcrumbs_item
        %a.breadcrumbs_item_link{:href => "#"} Каталог
      %li.breadcrumbs_item
        %a.breadcrumbs_item_link{:href => products_path(:category => @category.slug)}= @category.name
  .catalogue
    .row
      .col-lg-3.col-md-4
        %aside.catalogue_aside
          %h2.catalogue_title Чемодани та сумки
          %ul.catalogue_cat-list{:role => "menu"}
            - @category_list.each do |category|
              %li.catalogue_cat-list_item{:role => "menuitem"}
                = link_to category.name, products_path(:category => category.slug), class: 'catalogue_cat-list_item_link'
          .row
            %hr.catalogue_line/
          %form.catalogue_producer-form{:action => "#"}
            %h2.catalogue_title Виробник
            .catalogue_producer-form_reset
              %label.catalogue_producer-form_reset_label{:for => "catalogueProducerFormReset"}
                зкинути
                %i.catalogue_producer-form_reset_icon
              %input#catalogueProducerFormReset.catalogue_producer-form_reset_input{:type => "reset", :value => ""}/
            %input#producerDerby.catalogue_producer-form_checkbox{:name => "derby", :type => "checkbox"}/
            %label.catalogue_producer-form_label{:for => "producerDerby"} Derby
            %input#producerVif.catalogue_producer-form_checkbox{:name => "vif", :type => "checkbox"}/
            %label.catalogue_producer-form_label{:for => "producerVif"} Vif
            %input#producerTanyaKlyova.catalogue_producer-form_checkbox{:name => "tanya_klyova", :type => "checkbox"}/
            %label.catalogue_producer-form_label{:for => "producerTanyaKlyova"} Авторські сумки від Tanya Klyova
      .col-lg-9.col-md-8
        .row
          .col-sm-4
            .catalogue_count
              Всього
              %strong= @count
              товарів
          .col-sm-8
            .catalogue_sort
              %label.catalogue_sort_item.catalogue_sort_label{:for => "sort"} Сортувати за:
              .catalogue_sort_wrapper
                %select#sort.catalogue_sort_select.catalogue_sort_item{:name => "sort"}
                  %option{:value => "1"} Популярністю
                  %option{:value => "1"} Ціною
        .row
          .row
            - @advertisments.each do |advertisment|
              .col-lg-6
                = render partial: 'shared/advertisment_products', locals: {advertisment: advertisment}
          %main
            .catalogue_items
              .row
                - @products.each do |product|
                  %article.col-lg-4.col-sm-6
                    .catalogue_item
                      %a.catalogue_item_link{:href => product_path(product)}
                        %img.catalogue_item_img{:alt => "", :height => "267", :src => product.assets.first.image.url, :width => "209"}/
                      %h4.catalogue_item_name= product.name
                      %h4.catalogue_item_price
                        = product.cost
                        грн
              .catalogue_items_load
                %button.catalogue_icon-load{:role => "button"}
                = succeed "\u{417}\u{430}\u{432}\u{430}\u{43d}\u{442}\u{430}\u{436}\u{438}\u{442}\u{438}" do
                  %br/
