= content_for :title, "Categories"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Categories', administration_categories_path
  = render_navigation

%section.content
  .box.box-solid
    .box-header= link_to 'add new category', new_administration_category_path, class: 'btn btn-primary btn-flat btn-block btn-sm'
    .box-body
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th image
            %th name
            %th belongs_to
            %th
        %tbody
        - @categories.each do |category|
          %tr
            %th= image_tag category.image.url, height: '30', class: 'btn btn-success' if category.image?
            %td= category.name
            %td= category.category.name if category.category
            %td
              = link_to 'edit', edit_administration_category_path(category), class: 'btn btn-warning'
              = link_to 'destroy', administration_category_path(category), class: 'btn btn-danger', method: 'DELETE'
