<!DOCTYPE html>
<html>
<head>
  <title>UAWC Administration | <%= yield(:title) %></title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <!-- Font Awesome Icons -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <!-- Ionicons -->
  <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'administration', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'administration', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <body class="skin-blue">
    <%= render 'shared/administration_header' %>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          <%= yield(:title) %>
        </h1>
      </section>

      <section class="content">
        <%= yield %>
      </section>
    </div>
    <% render 'shared/administration_footer' %>
  </body>
</html>
